<p id="notice"><%= notice %></p>

<h1>Listing Wines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Origin</th>
      <th>Price</th>
      <th>Rating</th>
      <th>Date</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td><%= wine.name %></td>
        <td><%= wine.year %></td>
        <td><%= wine.origin %></td>
        <td><%= wine.price %></td>
        <td><%= wine.rating %></td>
        <td><%= wine.date %></td>
        <td><%= wine.description %></td>
        <td><%= image_tag wine.image %></td>
        <td><%= link_to 'Show', wine %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wine', new_wine_path %>
