
  <div id='cssmenu'>
    <ul>
       <li><%= link_to 'Home', new_wine_path%></li>
       <li><a href='./search.html'>Search</a></li>
       <li><%= link_to 'All my Wines', wines_path %></li>
    </ul>
  </div>

  <header>
    <div class="headertext">
      <div class="wine_logo">
        <%= image_tag( 'mywine1.PNG' ) %>
      </div>
    </div>
  </header>


<p id="notice"><%= notice %></p>

<p>
  <h1><%= @wine.name %></h1>
</p>

<p>
  <% if @wine.year != "" %>
    <strong>Year:</strong>
    <%= @wine.year %>
  <% end %>
</p>

<p>
  <% if @wine.origin != "" %>
    <strong>Origin:</strong>
    <%= @wine.origin %>
  <% end %>
</p>

<p>
  <% if @wine.price != "" %>
    <strong>Price:</strong>
    <%= @wine.price %>
  <% end %>
</p>

<p>
  <% if @wine.rating != "" %>
    <strong>Rating:</strong>
    <%= @wine.rating %>
  <% end %>
</p>

<p>
  <% if @wine.date != "" %>
    <strong>Date:</strong>
    <%= @wine.date %>
  <% end %>
</p>

<p>
  <% if @wine.description != "" %>
    <strong>Description:</strong>
    <%= @wine.description %>
  <% end %>

</p>


<p>
  <%= image_tag @wine.image, html: { width: "10px", height: "10px" } %> 
</p>


<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Delete', @wine, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', wines_path %>
